body {
	background-image: linear-gradient(135deg, #201e44, #131c26);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #f5f5f5;
}

a {
	color: #f5f5f5;
}

.button {
	background-color: rgba(207, 216, 220, 0.05);
	font-weight: bold;
	text-align: center;
	padding: 12px;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 auto;
	transition: all 0.15s ease-in-out;
	user-select: none;
}

.button:hover {
	background-color: rgba(207, 216, 220, 0.25);
}

#container {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 32px;
	max-width: 850px;
}

.dropShadow {
	box-shadow: 0 0 15px 5px rgba(10, 10, 10, 0.5);
}