a {
	text-decoration: none;
}

h1, p {
	text-align: center;
}

ul {
	padding: 0;
	text-align: center;
	list-style: none;
	margin-bottom: 64px;
}

#container {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 32px;
}

#profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

#profile img {
	margin-right: 16px;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

#profile span {
	cursor: pointer;
}

#profile .button, #roomEntry .button {
	width: auto;
	height: auto;
	padding: 8px 12px 8px 12px;
	margin: 0;
	border-radius: 0 4px 4px 0;
}

#profile input[type="text"], #roomEntry input[type="text"] {
	background-color: rgba(207, 216, 220, 0.05);
	border: 0;
	margin-left: 16px;
	color: #f5f5f5;
	padding-left: 8px;
	border-radius: 4px 0 0 4px;
}

#avatarSelect {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	border-radius: 8px;
	max-height: 300px;
	overflow-y: scroll;
	align-self: start;
	margin-top: 40px;
	margin-left: -125px;
	display: none;
}

.avatarOption {
	width: 128px;
	text-align: start;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
	cursor: pointer;
}

.avatarOption:hover {
	background-color: rgba(60, 60, 60, 0.8);
}

.avatarOption img {
	width: 24px;
	height: 24px;
}

#nameEntry, #roomEntry {
	display: none;
	flex-direction: row;
}

#roomEntry {
	justify-content: center;
	margin-top: 8px;
}

#roomEntry input[type="text"] {
	margin: 0;
	width: 122px;
}

.button {
	width: 160px;
	margin-top: 8px;
}