<!doctype html>
<html lang="en">
<head>
	<title>{{.room}}</title>
	<link rel="stylesheet" type="text/css" href="/watch/css/main.css">
	<link rel="stylesheet" type="text/css" href="/watch/css/room.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="watch-rs">
</head>
<body>

<div id="container">
	<div id="video" class="dropShadow">
		<div id="noVideo">
			<h3>Queue's empty!</h3>
			Add new videos to the queue by searching for them below.
		</div>
		<video></video>
	</div>
	<audio id="videoAudio" class="dropShadow" controls></audio>
	<div id="videoControls" class="dropShadow">
		<div id="roomTitle">{{.room}}</div>
		<div id="videoSize" onclick="toggleVideoSize()">
			Size: <span id="videoSizeString">540</span>p
			<div id="videoSizeDropdown">
				<span>Auto</span>
				<span onclick="setVideoSize(960, 540)">540p</span>
				<span onclick="setVideoSize(1280, 720)">720p</span>
				<span onclick="setVideoSize(1920, 1080)">1080p</span>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="search" class="dropShadow">
			<input id="videoSearch" type="text" placeholder="Search">
			<div id="searchResults"></div>
		</div>
		<div id="commentsQueue">
			<div id="comments" class="dropShadow">
				<div id="commentsContainer"></div>
				<input id="commentEntry" type="text" placeholder="Comment" disabled>
			</div>
			<div id="queue" class="dropShadow">
				<span id="noQueueItems" class="message">
					Queue is currently empty.
				</span>
				<div id="queueContainer"></div>
			</div>
		</div>
	</div>
</div>

<script>
	const RoomId = "{{.room}}"
</script>

<script src="/js/main.js"></script>
<script src="/watch/js/main.js"></script>
<script src="/watch/js/room.js"></script>

</body>
</html>